<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number Image Recognition</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/konva@6.0.0/konva.min.js"></script>

</head>
<body>

<div id="container" style="background-color: black; width: 300px"></div>
<button id="postButton">Post</button>
<button id="cleanButton">Clear</button>

<script>
    $("#postButton").click(function(e) {
        e.preventDefault();
        var image = stage.toDataURL({pixelRatio: 3});
        console.log(image)
        $.ajax({
            type: "POST",
            url: "/api/images/numbers/recognition",
            data: JSON.stringify({
                image: image
            }),
            success: function(result) {
                console.log(result);
                alert(result['result']);
            },
            error: function(result) {
                alert('error');
            }
        });
    })

</script>

<script>

    // https://konvajs.org/docs/sandbox/Free_Drawing.html

    var width = 300;
    var height = 300;

    // first we need Konva core things: stage and layer
    var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height,
    });


    var layer = new Konva.Layer();

    stage.add(layer);

    var isPaint = false;
    var mode = 'brush';
    var lastLine;

    stage.on('mousedown touchstart', function (e) {
        isPaint = true;
        var pos = stage.getPointerPosition();
        lastLine = new Konva.Line({
            stroke: '#ffffff',
            strokeWidth: 30,
            globalCompositeOperation:
                mode === 'brush' ? 'source-over' : 'destination-out',
            points: [pos.x, pos.y],
        });
        layer.add(lastLine);
        layer.filters([Konva.Filters.Grayscale]);
        layer.style.backgroundColor = 'black';
    });
    stage.on('mouseup touchend', function () {
        isPaint = false;
    });

    // and core function - drawing
    stage.on('mousemove touchmove', function () {
        if (!isPaint) {
            return;
        }

        const pos = stage.getPointerPosition();
        var newPoints = lastLine.points().concat([pos.x, pos.y]);
        lastLine.points(newPoints);
        layer.batchDraw();
    });

    var clear_btn = document.getElementById('cleanButton')
    clear_btn.addEventListener('click', function () {
        layer.destroy();
        stage.add(layer);
    });
</script>
</body>

</html>
